<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" >

    <listeners>
        <listener class-name="Tests.Listeners"></listener>
        <listener class-name="Config.Report"></listener>
    </listeners>


    <test name="ChromeTest">
        <parameter name="myBrowser" value="chrome"/>
        <classes>
            <class name="Tests.Trf"/>
        </classes>
    </test>
    <test name="ChromeTest2">
        <parameter name="myBrowser" value="chrome"/>
        <classes>
            <class name="Tests.Login"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="myBrowser" value="firefox"/>
        <classes>
            <class name="Tests.Trf"/>
        </classes>
    </test>

    <test name="FirefoxTest2">
        <parameter name="myBrowser" value="firefox"/>
        <classes>
            <class name="Tests.Login"/>
        </classes>
    </test>




</suite>